<div class="col">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body d-flex flex-column ">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <div class="row mt-auto ml-auto mr-1 p-0 pt-3">
          {% if project.demo %}
            <div class="demo-icon mr-2">
              <div class="icon" data-toggle="tooltip" title="Demo">
                <a href="{{ project.demo }}"><i class="fa-solid fa-external-link-alt"></i></a>
              </div>
            </div>
          {% endif %}
          {% if project.github %}
            <div class="github-icon mr-2">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
          <div class="knowmore-icon mr-2">
            <div class="icon" data-toggle="tooltip" title="Know More">
              <a href="{{ project.url | relative_url }}"><i class="fa-solid fa-lightbulb"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
