<div class="logos">
  <div class="logos-slide">
    {% for skill in site.selected_skills %}
      <img src="https://cdn.simpleicons.org/{{ skill }}" alt="{{ skill }} logo" title="{{ skill | capitalize }}">
    {% endfor %%}
  </div>
  <div class="logos-slide">
    {% for skill in site.selected_skills %}
      <img src="https://cdn.simpleicons.org/{{ skill }}" alt="{{ skill }} logo" title="{{ skill | capitalize }}">
    {% endfor %%}
  </div>
</div>